*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
  font-size: 10px=1rem;
}

/*******************************/
/********section_navgation******/
/*******************************/

.section_navgation{
  background-color: antiquewhite;
  padding: 2rem 3rem;
}
.div_1_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul_list_nav{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  }
.nav_list_item{
    list-style: none;
  }
.link_list_nav:link,
.link_login_nav:link,
.link_list_nav:visited,
.link_login_nav:visited
{
  text-decoration: none;
  color: #222;
  padding: 4px 2rem;
}
.link_list_nav:hover,
.link_login_nav:hover,
.link_list_nav:active,
.link_login_nav:active{
  background-color: #222;
  color: white;
  border: 1px solid #222;
  border-radius: 4rem;
}
.signup:link,
.signup:visited{
  background-color: #222;
  color: white;
  border: 1px solid #222;
  border-radius: 4rem;
}
.link_login_nav
.login_nav{
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.span_h1_nav{
  color: blue;
  font-size:1.8rem ;
}
.logo_nav{
  font-size: 3.2rem;
  font-weight: 800;
}

/*******************************/
/********section_Main_Header******/
/*******************************/
.grid4_main_header{
  padding-left:3rem ;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* grid-template-rows: repeat(3,1fr); */
  /* grid-template-rows: 150px 150px 250px; */
  justify-content: space-between;
  justify-content: center;
  border: #222 solid 2px;
  /* justify-items: center;
  align-items: center; */
}
.primary_header_main{
  font-size: 4.8rem;
  font-weight: 400;
}
.div_1_header{
  grid-column: 1/3;
  margin: 5rem 5rem;
  
}
.grid2_img_header{
  justify-self: end;
  grid-column: 3/-1;
  justify-self: center;
  grid-row: 1;  
  align-self: center;
}
.btn_main_header{
  background-color: blue;
  border: 1px solid blue;
  border-radius: 4rem;
  padding: 1rem 2rem;
  margin: 3rem 1rem;
}
.link_btn_head{
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
.grid2_header{
  border: 1px solid blue;
  border: #222 solid 1px;
  /* display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 150px;
  justify-content: space-between; */
}
.divgrid_3_head{
  /* background-color: blue; */
  /* color: #fff; */
  height: 1.5rem;
  border: #222 solid 1px;

}
.div3col{
  background-color: blue;
  color: #fff;
}
.divgrid_3_des{
  padding: 2rem 0 0 2rem;
}
.divgrid_3_sale,.divgrid_3_40{
  padding: 8rem 0 0 2rem;
}
.divgrid_3_50,.divgrid_3_40{
  font-size: 4.6rem;
  padding-left: 4rem; 

}
.divgrid_3_off{
  font-size: 3.6rem;
}
.div1{
 display: flex;
 align-items: flex-end;
 /* bottom: 0%; */
 /* margin-bottom: ; */
position: relative;
}
.div4,.div1,.div3{
  border: #222 solid 1px;
  position: relative;
  margin-top: 0%;
  padding-top: 0%;

}
.divgrid_3_head{
    background-color: blue;
}
.polar_img{
  /* float: left; */
  width: 20rem;
  position: absolute;
  transform: translate(10%,-140%);
}









